@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'Selima';
    src:url('Selima.ttf.woff') format('woff'),
        url('Selima.ttf.svg#Selima') format('svg'),
        url('Selima.ttf.eot'),
        url('Selima.ttf.eot?#iefix') format('embedded-opentype');
}

html{
  min-height:100%;
  position:relative;
}
body{
  height:100%;
}

p {
  text-align: center;
  margin: 3rem;
  margin: 20% auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.name {
  font-family: 'Selima';
  font-weight: normal;
  font-size: 4em;
  color: #534d62;
  text-transform: none;
  margin-bottom: 0;
}

.title {
  color: #534d62;
  font-weight: bold;
  white-space: nowrap;
  font-size: 0.8em;
  margin-top: 5%;
}

.contact {
  border: 3px solid #534d62;
  width: 50%;
  margin: 20% auto 5% auto;
}

.contact-text {
  font-size: 0.8em;
  font-weight: 600;
  color: #534d62;
  margin: 0.5em;
}

.title-square {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  white-space: nowrap;
  font-size: 0.8em;
  margin: auto;
  padding-top: 4.5%;
  color: #534d62;
}

.link {
  color: #963239;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.link:hover {
  color: white;
}

.profile {
  display: block;
  margin: 20% auto;
  max-width: 70%;
  height: auto;
}

.social_links {
margin-top: 5%;
text-align: center;
}

.social {
  width: 40px;
  /*margin-left: auto;
	margin-right: auto;
	display: block;*/
}

main {
  display: flex;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

section {
  flex-grow: 1;
   background: #e6e6e6;
   width: 20vw;
}

aside {
   width: 70vw;
   flex-shrink: 0;
   flex-grow: 2;
   overflow: auto;
   padding-top: 5%;
}

.colored {
  background-color: #c2bbcc;
}

.square {
  width: 60%;
  position: relative;
  height: 20%;
  margin: auto;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
}

.transition {
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.transition:hover {
  color: #620007;
  /*background-color: #524d61;*/
}

.outer {
  width: 100%;
  height: 30%;
  /*border: 2px solid pink;*/
}

.left {
  float: left;
}

.right {
  float: right;
}

.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.description {
  width: 80%;
  text-transform: none;
  font-size: 0.8em;
  font-family: Montserrat;
  color: #524d61;
  margin: 40px auto;
}

/*#963239*/
