@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'Selima';
    src:url('Selima.ttf.woff') format('woff'),
        url('Selima.ttf.svg#Selima') format('svg'),
        url('Selima.ttf.eot'),
        url('Selima.ttf.eot?#iefix') format('embedded-opentype');
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
}

.nav li {
  list-style: none;
  display: inline-block;
}

.nav .link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat;
  color: #333;
  margin: 0 10px;
}

.link:hover {
  font-weight: bold;
  color: grey;
}

.blocks {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blocks:nth-child(2) {
  background: #ebd8df;
}
.blocks:nth-child(3) {
  background: #e3d8eb;
}
.blocks:nth-child(4) {
  background: #d8dfeb;
}
.blocks:nth-child(5) {
  background: #d8ebe1;
}
.blocks:nth-child(6) {
  background: #e8ebd8;
}

p {
  font-family: Montserrat;
  text-align: justify;
  color: #534d62;
}

@media only screen and (max-width: 600px) {
  .description {
    font-size: 2.5em;
  }
}

.vertical-text {
	transform: rotate(90deg);
  font-family: Selima;
  font-size: 1000%;
}

.outer {
  margin-left: 245px;
}

.description {
   margin: 20% 40% 10% 0;
}

.social_links {
margin-top: 5%;
text-align: left;
}

.social {
  width: 40px;
}

section {
  background: #e6e6e6;
  width: 245px;
  height: 100%;
  float: left;
}

#section1 {
  background: #ccb3bc;
}
#section2 {
  background: #b3b3cc;
}
#section3 {
  background: #b3c0cc;
}
#section4 {
  background: #b3ccc3;
}
#section5 {
  background: #cbccb3;
}

/*.avatar {
  max-width: 245px;
  float: left;
  padding: 0 20px 20px;
  position: absolute;
  top: 100px;
  left: 250px;
}*/

@media (max-width: 1200px) {
  .avatar {
    max-width: 225px;
  }
}

@media (max-width: 1080px) {
  .avatar {
    max-width: 200px;
  }
}

/*@media (max-width: 900px) {
  .avatar {
    max-width: 200px;
    float: none;
  }
}*/


.link {
  color: black;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.link:hover {
  color: white;
}

.nav-link:hover {
  color: #e3d8eb;
  font-weight: bold;
}

.content {
  margin-top: 140px;
  margin-left: 20%;
}
